html {
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
}

h1{
    font-size: 60px;
    text-align: center;
}

p,
a,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

html {
    background-color: #6f4bbd;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #c689c7;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

h1{
    margin: 0;
    padding: 20px 0;
    color: #6f4bbd;
    text-shadow: 3px 3px 1px black;
}

.image2 {
    display: block;
    margin: 0 auto;
    width:400px;
   height:400px;
   object-fit:scale-down;
   /* overflow: hidden; */

}

.row {
    display: flex;
}
  
.column {
    flex: 50%;
    padding: 5px;
}
.container {
    display: flex;
    align-items: center; 
    padding-left: 5px;
}
.image1{
    margin-left: 10px ;
    margin-right: 10px;
}